.project-detail {
    text-align: center;
    padding: 20px;
  }
  
  .project-detail-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 600px;
  }
  
  .project-image {
    border-radius: 4px;
  }
  
  .overlay2 {
    position: absolute; /* Permite posicionar la imagen en relación al contenedor */
    top: 10px; /* Ajusta según sea necesario */
    right: 50px; /* Ajusta según sea necesario */
    width: 50px; /* Ajusta el tamaño de la superposición */
    height: auto; /* Mantiene la proporción de la imagen */
    z-index: 10; /* Asegura que la imagen esté por encima de la imagen del proyecto */
  }

  .edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .edit-description {
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .edit-image-input {
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  