.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Image-container {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
}

.App-image {
  width: 100vw;
  height: auto;
}


.App-text {
  font-size: 4rem;
  color: #000000;
  font-weight: 900;
}

.Button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.App-button-ai {
  padding: 30px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #005f94;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  opacity: 0.7;
}

.App-button-vr {
  padding: 30px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #f98100;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  opacity: 0.7;
}

.App-button-tech {
  padding: 30px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #d2091e;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  opacity: 0.7;
}

.App-button-ai.active {
  opacity: 1;
}

.App-button-vr.active {
  opacity: 1;
}

.App-button-tech.active {
  opacity: 1;
}

.Auspician-text {
  text-align: center;
  margin-top: 20px; 
  font-size: 1.5rem; 
}

.UTFSM {
  display: block;
  margin: 40px auto; 
  max-width: 100%; 
  height: auto; 
}

.Button-group{
  margin-top: 10px;
}

